.PWABadge-container {
    padding: 0;
    margin: 0;
    width: 0;
    height: 0;
}
.PWABadge-toast {
    width: 400px;
    max-width: 90vw;
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 16px;
    padding: 12px;
    border: 1px solid #8885;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    z-index: 1000;
    text-align: left;
    background-color: var(--primary-color);
    color: wheat;
    font-weight: bold;
    font-size: 1rem !important;
}
.PWABadge-toast-message {
    margin-bottom: 8px;
}
.PWABadge-toast-button {
    border: 1px solid #8885;
    width: 90px;
    font-size: 0.8rem;
    outline: none;
    margin-right: 5px;
    right: 0px;
    border-radius: 6px;
    padding: 3px 10px;
}
